<h1>{{'todo.header.list' | translate}}</h1>

<div>
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th class="table-column-loader"></th>
      <th class="table-column-title">{{'todo.field.title' | translate}}</th>
      <th class="table-column-date">{{'todo.field.created' | translate}}</th>
      <th class="table-column-date">{{'todo.field.updated' | translate}}</th>
      <th class="table-column-status">{{'todo.field.complete' | translate}}</th>
      <th class="table-column-buttons"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items" class="table-row">
      <td>
        <div *ngIf="item.isModified"
             class="spinner-border spinner-border-sm"
             role="status">
        </div>
      </td>
      <td>
        <span *ngIf="item.isModified">{{item.title}}</span>
        <a *ngIf="!item.isModified" [routerLink]="[ '../edit', item.id]">{{item.title}}</a>

      </td>
      <td>{{item.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{item.updated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{item.isComplete | yesNo}}</td>
      <td>
        <button (click)="onRemoveItem(item)"
                *ngIf="!item.isModified"
                class="btn btn-link"
                type="button">{{'button.remove' | translate}}</button>
        <button (click)="onCompleteItem(item)"
                *ngIf="!item.isModified && !item.isComplete"
                class="btn btn-link"
                type="button">{{'button.complete' | translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <button (click)="onAddItem()"
          class="btn btn-primary"
          type="button">{{'button.add' | translate}}</button>
</div>

