<h1>{{'todo.header.add' | translate}}</h1>

<div>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="title">{{'todo.field.title' | translate}}</label>
      <input #inputElement
             formControlName="title"
             id="title"
             class="form-control w-25"
             type="text"/>
    </div>
    <div>
      <button (click)="onSave()"
              [disabled]="form.invalid"
              class="btn btn-primary"
              type="button">{{'button.save' | translate}}</button>
      <button (click)="onCancel()"
              class="btn btn-outline-secondary ml-3"
              type="button">{{'button.cancel' | translate}}</button>
    </div>
  </form>
</div>
