@import "~bootstrap/scss/bootstrap";

.table-column {
  &-title {
    width: 25%;
  }

  &-date,
  &-buttons {
    width: 18em;
  }

  &-status {
    width: 10em;
  }

  &-loader {
    width: 3em;
  }
}

.table-row {
    line-height: 3em;
    min-height: 3em;
    height: 3em;
}
